/* src/Components/LivesRunOut.css */
.lro-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  display: flex; justify-content: center; align-items: center;
  z-index: 2000;
}
.lro-modal {
  background: #2A213A;
  padding: 2rem;
  border-radius: 55px;
  text-align: center;
  position: relative;
  max-width: 100%;
  width: 650px;
  height: 550px;
  border: 5px solid #878194;
}
.lro-icon {
  width: 150px;
  margin-bottom: 1rem;
}
.lro-title {
  margin: 0.5rem 0;
  font-size: 3.5rem;
  color: #ffffff;
}
.lro-text {
  color: #ddd;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-size: 1.8rem;
}
.lro-button {
  background: var(--semidark-purple);
  color: white;
  border: 5px solid var(--mid-purple);
  padding: 0.75rem 1.5rem;
  border-radius: 15px;
  font-size: 2.8rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.lro-btn-icon {
  width: 60px;
  height: 60px;
}
