@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --dark-purple: #271d3e;
  --mid-purple: #7338a0;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
  --midlight-red: #d7443e;
  --midblue: #04aae0;
}
.finishtext {
  justify-content: space-between;
  width: 100%;
  top: -.7em;
}
.finishtext p {
  font-family: "Baloo", sans-serif;
  color: var(--intermediate-yellow);
}
.finishtext img {
  height: auto;
  width: 10vw;
}
.dia-reward img,
.dia-reward p {
  color: #5dade2;
  width: auto;
  height: 6vh;
}
.stats-quiz img {
  width: auto;
  height: 6vh;
}
.stats-quiz p {
  color: var(--white);
}
.finishbuttons {
  background-color: var(--semidark-purple);
  height: 15vh;
  width: 37vw;
  margin: 0%;
  gap: 10px;
}
.finishbuttons .dashboard-button {
  background-color: var(--mid-purple);
  height: 7vh;
  width: 12vw;
  font-family: "Baloo", sans-serif;
  color: var(--white);
  padding: 0% 0% 0% 0%; 
}
.finishbuttons .dashboard-button:hover {
  background-color: #100429;
}
.finishbuttons .continue {
  background-color: var(--mid-purple);
  width: 15vw;
  height: 10vh;
  display: flex; /* Enable Flexbox */
  align-items: center; /* Center vertically */
  justify-content: center;
}
.finishbuttons button:nth-child(1){
  width: 15vw;
  height: 10vh;
  border: 5px solid var(--mid-purple);
  background-color: var(--background);
  padding: 10px;
  gap: 3px;
}
.dashboard-button img {
  height: auto;
  width: 4vw;
}
.percentage-lesson {
  background-color: var(--semidark-blue);
}

.custom-gap {
  gap: 20rem;
}