/* Button positioning */

/* Full-screen overlay */
@media (max-width: 639px) {
  .question-button img {
    height: 2.5rem;
    width: 2.5rem;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* sit above everything */
}

/* Centered modal box */
.modal-content {
  max-width: 75vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  left: 10%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Close “X” button */
.modal-close-btn {
  position: absolute;
  top: -1.5rem;
  right: -2.5rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.slideshow-container {
  background-color: #7338a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 65vh;
  padding: 0px 55px 0px 55px;
}

.slideshow-controls {
  gap: 51rem;
}

.slideshow-controls .btn {
  background-color: #4a2574;
  width: 15vw;
  color: #100429;
  font-size: 2.5rem;
  text-align: center;
}

@media (min-width: 640px) and (max-width: 768px) {
  .question-button img {
    height: 3rem;
    width: 3rem;
  }
}

@media (min-width: 1024px) {
  .question-button img {
    height: 3rem;
    width: 3rem;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* sit above everything */
}

/* Centered modal box */
.modal-content {
  max-width: 75vw;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  left: 10%;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Close “X” button */
.modal-close-btn {
  position: absolute;
  top: -1.5rem;
  right: -2.5rem;
  background: none;
  border: none;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
}

.slideshow-container {
  background-color: #7338a0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 65vh;
  padding: 0px 55px 0px 55px;
}

.slideshow-controls {
  gap: 51rem;
}

.slideshow-controls .btn {
  background-color: #4a2574;
  width: 15vw;
  color: #100429;
  font-size: 2.5rem;
  text-align: center;
}
