@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --dark-purple: #271d3e;
  --mid-purple: #7338a0;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
  --midlight-red: #d7443e;
  --midblue: #04aae0;
}
.leaderboard-scroll-wrapper::-webkit-scrollbar {
  width: 10px;
}
.leaderboard-scroll-wrapper::-webkit-scrollbar-track {
  background: #1e1e2f;
  border-radius: 10px;
}
.leaderboard-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #6c63ff;
  border-radius: 10px;
  border: 2px solid #1e1e2f;
}
.leaderboard-scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #574fd6;
}
.leaderboard-scroll-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #6c63ff #1e1e2f;
}
