@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
}

body {
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Baloo";
  font-size: 40px;
  color: white;
  margin: 25px 0 0 0;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-color: var(--background);

}
.login-input {
  padding: 20px;
}

.login-card {
  background-color: var(--semidark-purple);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.login-width {
  width: 25%;
  height: 450px;
}
.login-input {
  background-color: var(--input-gray);
  border: 3px solid var(--stroke-gray);
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

@media (max-width: 1440px) {
  
.login-card {
  background-color: var(--semidark-purple);
  padding: auto;
  gap: 35px;
}
.login-width {
  width:30%;
  height: 330px;
}
.login-input {
  width: 290px !important;
  height: 45px !important;
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

}

@media (max-width: 1024px) {
  
.login-card {
  background-color: var(--semidark-purple);
  padding: auto;
  gap: 35px;
}
.login-width {
  width:50%;
  height: 330px;
}
.login-input {
  width: 290px !important;
  height: 45px !important;
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

}

@media (max-width: 768px) {
  
.login-card {
  background-color: var(--semidark-purple);
  padding: auto;
  gap: 35px;
}
.login-width {
  width:50%;
  height: 330px;
}
.login-input {
  width: 290px !important;
  height: 45px !important;
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

}

@media (max-width: 425px) {
  
.login-card {
  background-color: var(--semidark-purple);
  padding: auto;
  gap: 35px;
}
.login-width {
  width:95%;
  height: 330px;
}
.login-input {
  width: 290px !important;
  height: 45px !important;
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

}

@media (max-width: 375px) {
  
.login-card {
  background-color: var(--semidark-purple);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.login-width {
  width: 90%;
  height: 330px;
}
.login-input {
  width: 290px !important;
  height: 45px !important;
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

}

@media (max-width: 320px) {
  
.login-card {
  background-color: var(--semidark-purple);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.login-width {
  width: 95%;
  height: 330px;
}
.login-input {
  width: 280px !important;
  height: 45px !important;
  border-radius: 12px;
  color: white;
}
.login-input:focus {
  background-color: var(--input-gray);
  color: white;
}
.login-input::placeholder {
  color: var(--placeholder);
  font-size: 16px;
  font-weight: 500;
  font-family: "Baloo";
}
.input-height {
  height: 55px;
  width: 380px;
}

.check-box,
.forgot-password {
  font-size: 12px;
}
.forgot-password {
  color: var(--light-purple);
  text-decoration: none;
}

.button-login {
  width: 100%;
  font-family: "Baloo";
  font-size: 25px;
  background-color: var(--purple);
  border: none;
}
.button-login:hover {
  background-color: #613099;
}
.button-login:active {
  background-color: var(--background);
}

.sign-up a {
  color: var(--light-purple);
}

}