@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --dark-purple: #271d3e;
  --mid-purple: #7338a0;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
  --midlight-red: #d7443e;
  --midblue: #04aae0;
}
.back {
  color: var(--purple);
  font-size: 2rem;
  height: 5vh;
  position: absolute;
  top: 1.5rem;
  cursor: pointer;
  font-family: "Baloo", sans-serif;
}

.quiz-container {
  font-size: clamp(2.5rem, 2vw, 1.5rem);
  max-width: 80%;
  margin: 0 auto;
  color: var(--white);
  font-family: "Baloo", sans-serif;
  position: relative;
  text-align: left;
  left: 1rem;
  top: 14rem;
}
.quiz-container p {
  position: absolute;
  bottom: 0.5rem;
}
.grid {
  font-family: "Baloo", sans-serif;
  color: var(--white);
  display: grid;
  min-width: 80vw;
  min-height: 75vh;
  justify-content: center;
  grid-template-columns: repeat(2, 28vw);
  grid-template-rows: repeat(1, 100px);
  background-color: var(--dark-purple);
  gap: 8rem;
  padding-top: 10rem;
  margin-top: 2rem;
}
.choices {
  border: 4px solid #574f69;
  height: 20vh;
  width: 33vw;
  position: relative;
  top: 5rem;
  right: 7rem;
  cursor: pointer;
  padding: 10px 20px;
  
}
.choices video {
  margin-left: 80px;
}
.grid .choices:nth-child(1) {
  position: relative;
}
.grid .choices:nth-child(2) {
  position: relative;
}

.choice-a {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  min-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
  cursor: pointer;
}
.choice-b {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  min-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.choice-c {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  min-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.choice-d {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  min-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.continue {
  background-color: #7338a0;
  font-size: clamp(2rem, 1.8vw, 3rem);
  color: var(--white);
  font-family: "Baloo", sans-serif;
  height: 7vh;
  min-width: 10vw;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 1rem;
}
.continue img {
  min-height: 5vh;
  justify-content: center;
  position: relative;
  bottom: 0.2rem;
}
.progress {
  background-color: var(--input-gray);
  margin-top: 4rem;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.progress-bar {
  background-color: #924dbf;
  height: 100%;
  transition: width 0.4s ease-in-out;
}

.selected {
  background-color: #924dbf !important; /* Highlight color */
  border-color: #fff !important;
  color: #fff !important;
  transition: background-color 0.3s ease-in-out;
}

.choices.selected {
  background-color: #271d3e !important;
  border-color: #fff !important;
}
.choice-a.selected,
.choice-b.selected,
.choice-c.selected,
.choice-d.selected {
  background-color: #271d3e !important;
  border-color: #fff !important;
  color: white !important;
}
.choices video {
  width: 14vw; /* Prevents video from taking too much space */
  height: auto;
  position: absolute;
  left: 10rem;
  bottom: 0.5rem;
  gap: 15rem;
  transition: transform 0.3s ease-in-out;
}
.choices video:hover {
  transform: scale(1.5);
  z-index: 1;
}
.result-ans {
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  height: 20vh;
}

.correct-ans {
  background-color: #2ecc71;
  font-weight: bold;
  border-radius: 10px;
  font-family: "Baloo", sans-serif;
}
.wrong-ans {
  background-color: #e74c3c;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  position: relative;
  font-family: "Baloo", sans-serif;
}

.ekis-icon {
  width: 3.5vw;
  height: auto;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.lives-quizz {
  right: 15rem;
  top: 13rem;
}
