@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --dark-purple: #271d3e;
  --mid-purple: #7338a0;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
  --midlight-red: #d7443e;
  --midblue: #04aae0;
}
.quiz-container {
  font-size: clamp(2.5rem, 2vw, 1.5rem);
  max-width: 80%;
  margin: 0 auto;
  color: var(--white);
  font-family: "Baloo", sans-serif;
  position: relative;
  text-align: left;
  left: 1rem;
  top: 18rem;
}
.grids {
  font-family: "Baloo", sans-serif;
  color: var(--white);
  display: grid;
  width: 80vw;
  height: 70vh;
  justify-content: center;
  grid-template-columns: repeat(2, 25vw);
  grid-template-rows: repeat(1, 100px);
  background-color: var(--dark-purple);
  gap: 2.3rem;
  padding-top: 9rem;
}
.picturee-question {
  background-color: #3f3653;
  border: 1px solid white;
  height: 10vh;
  width: 10vw;
  position: absolute;
  left: 75em;
  bottom: 36.5em;
}

.banner-label {
  font-size: 2.5rem;
  position: relative;
  right: -3.8rem;
}
.ekis-icon {
  width: 3vw;
  height: auto;
  position: absolute;
  right: 4rem;
  top: 25%;
  transform: translateY(-50%);
}
.check-icon {
  width: 3vw;
  height: auto;
  position: absolute;
  right: 2.5rem;
  top: 25%;
  transform: translateY(-50%);
}
.wrong-ans {
  /* abrupt cut at 50% */
  background: linear-gradient(
    to bottom,
    #BF2020 0%,
    #BF2020 50%,
    #992222 50%,
    #992222 100%
  );
  color: #100429;
  position: absolute;
  top: 11rem;
  height: 13vh;
  width: 30rem;
  border-radius: 0 1rem 1rem 0;
}
.correct-ans {
  /* abrupt cut at 50% */
  background: linear-gradient(
    to bottom,
    #20BF55 0%,
    #20BF55 50%,
    #22994A 50%,
    #22994A 100%
  );
  color: #100429;
  position: absolute;
  top: 11rem;
  height: 13vh;
  width: 30rem;
  border-radius: 0 1rem 1rem 0;
}

.choicesss {
  border: 4px solid #574f69;
  height: 11vh;
  position: relative;
  top: 10rem;
  right: 1.5rem;
}
.grids .choicesss:nth-child(1) {
  position: relative;
}
.grids .choicesss:nth-child(2) {
  position: relative;
}
.choiceee-a {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  max-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.choiceee-b {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  max-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.choiceee-c {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  max-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.choiceee-d {
  display: flex;
  background-color: #271d3e;
  border: 3px solid #574f69;
  max-width: 3vw;
  font-size: clamp(2rem, 2vw, 2rem);
  justify-content: center;
}
.continueee {
  background-color: #7338a0;
  font-size: clamp(2rem, 1.8vw, 3rem);
  color: var(--white);
  font-family: "Baloo", sans-serif;
  height: 7vh;
  min-width: 10vw;
  text-align: center;
  justify-content: center;
  position: relative;
  top: 1rem;
}
.continueee img {
  min-height: 5vh;
  justify-content: center;
  position: relative;
  bottom: 0.2rem;
}
