@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --dark-purple: #271d3e;
  --mid-purple: #7338a0;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
  --midlight-red: #d7443e;
  --midblue: #04aae0;
}



.settings-container {
  background-color: #271d3e;
  width: 70vw;
  height: 80vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 7rem;
  left: 45rem;
  transform: translateX(-50%) translateX(14rem); /* center + offset */
  padding: 1rem;
  border-radius: 1rem;
}
.profile-pic-container {
  display: flex;
  justify-content: center;
  width: 20rem;
}
.profile-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}
.change-pic {
  background-color: var(--input-gray);
  height: auto;
  width: clamp(200px, 17vw, 300px);
  font-size: 1.5rem;
  font-family: "Baloo", sans-serif;
  padding: 10px;
}
.delete-btn {
  background-color: #d7443e;  
  height: auto;
  width: clamp(200px, 17vw, 300px);
  font-size: 1.5rem;
  font-family: "Baloo", sans-serif;
  padding: 10px;
}
.profile-picture-wrapper {
  width: 50vw; /* adjust based on your original image size */
  height: 50vh;
}
.settings-container img {
  position: relative;
  left: 1.5em;
  top: 0;
}


.students-information {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 24px;
  margin-right: 28px;
}
.name-stud {
  font-family: "Baloo", sans-serif;
  left: 16em;
  top: 1em;
  font-size: 1.5rem;
}
.username-stud {
  font-family: "Baloo", sans-serif;
  left: 16em;
  top: 5.5em;
  font-size: 1.5rem;
}
.email-stud {
  font-family: "Baloo", sans-serif;
  left: 16em;
  top: 10em;
  font-size: 1.5rem;
}
.student-details {
  height: auto;
  width: 37vw;
  padding-left: 2rem;
  background-color: var(--background);
  font-size: 2.5rem;
  font-family: "Baloo", sans-serif;
  left: 12.5em;
  top: 1.8em;
  color: var(--grey-purple);
}
.username-stud-view {
  height: auto;
  width: 37vw;
  padding-left: 2rem;
  background-color: var(--background);
  font-size: 2.5rem;
  font-family: "Baloo", sans-serif;
  left: 12.5em;
  top: 3.3em;
  color: var(--grey-purple);
}

.email-stud-view {
  height: auto;
  width: 37vw;
  padding-left: 2rem;
  background-color: var(--background);
  font-size: 2.5rem;
  font-family: "Baloo", sans-serif;
  left: 12.5em;
  top: 5em;
  color: var(--grey-purple);
}
.btn-logout-wrapper button {
  position: absolute;
  bottom: 2rem;
  right: 4%;
  background-color: #d7443e; 
  font-size: 2rem;
  padding: 5px 40px;
}

.profile-picture-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* Hidden overlay by default */
.camera-overlay {
  position: absolute;
  top: 0;
  left: 1.5rem;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

/* Show overlay only when hovering on "Change Profile" */
.change-pic:hover ~ .camera-overlay {
  opacity: 1;
}


@media (min-width: 1440px) {
  

}

@media (max-width: 1024px) {
  


}

@media (max-width: 768px) {
  

}

@media (max-width: 425px) {
  


}

@media (max-width: 375px) {
  
}

@media (max-width: 320px) {
  .settings-container {
    background-color: #271d3e;
    width: 90vw;
    height: 80vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 2rem;
    left: -4rem;
    transform: translateX(-50%) translateX(14rem); /* center + offset */
    padding: 1rem;
    border-radius: 1rem;
  }
  .profile-pic-container {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
  }
  .profile-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
  }
  .change-pic {
    background-color: var(--input-gray);
    height: auto;
    width: clamp(200px, 17vw, 300px);
    font-size: 1.5rem;
    font-family: "Baloo", sans-serif;
    padding: 10px;
  }
  .delete-btn {
    background-color: #d7443e;  
    height: auto;
    width: clamp(200px, 17vw, 300px);
    font-size: 1.5rem;
    font-family: "Baloo", sans-serif;
    padding: 10px;
  }
  .profile-picture-wrapper {
    width: 50vw; /* adjust based on your original image size */
    height: 50vh;
  }
  .settings-container img {
    position: relative;
    left: 1.5em;
    top: 0;
  }


  .students-information {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
  .name-stud {
    font-family: "Baloo", sans-serif;
    left: 16em;
    top: 1em;
    font-size: 1rem;
  }
  .username-stud {
    font-family: "Baloo", sans-serif;
    left: 16em;
    top: 5.5em;
    font-size: 1rem;
  }
  .email-stud {
    font-family: "Baloo", sans-serif;
    left: 16em;
    top: 10em;
    font-size: 1rem;
  }
  .student-details {
    height: auto;
    width: 37vw;
    padding-left: 2rem;
    background-color: var(--background);
    font-size: 2rem;
    font-family: "Baloo", sans-serif;
    left: 12.5em;
    top: 1.8em;
    color: var(--grey-purple);
  }
  .username-stud-view {
    height: auto;
    width: 37vw;
    padding-left: 2rem;
    background-color: var(--background);
    font-size: 2rem;
    font-family: "Baloo", sans-serif;
    left: 12.5em;
    top: 3.3em;
    color: var(--grey-purple);
  }

  .email-stud-view {
    height: auto;
    width: 37vw;
    padding-left: 2rem;
    background-color: var(--background);
    font-size: 2rem;
    font-family: "Baloo", sans-serif;
    left: 12.5em;
    top: 5em;
    color: var(--grey-purple);
  }
  .btn-logout-wrapper button {
    position: absolute;
    bottom: 2rem;
    left: 2%;
    background-color: #d7443e; 
    font-size: 2rem;
    padding: 5px 40px;
  }
}
