@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
}

.signup-container {
  width: 525px;
}
.signup-card {
  background-color: var(--semidark-purple);
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border-radius: 25px;
  gap: 30px;
}

.signup-width {
  width: 100%;
  height: 600px;
}

.input-height {
  width: 380px;
}

.input {
  gap: 15px;
}
.input:nth-of-type(1) .input-height:nth-of-type(1) {
  width: 120px;
}

.input:nth-of-type(1) .input-height:nth-of-type(2) {
  width: 245px;
}
