@font-face {
  font-family: "Baloo";
  src: url("/src/font/Baloo-Regular.ttf") format("truetype");
  font-style: normal;
}

:root {
  --background: #100429;
  --semidark-purple: #271d3e;
  --dark-purple: #271d3e;
  --mid-purple: #7338a0;
  --grey-purple: #6f687e;
  --purple: #4a2574;
  --light-purple: #cf96ff;
  --stroke-gray: #6f687e;
  --input-gray: #3f3653;
  --placeholder: #9f9aa9;
  --white: #ffff;
  --basic-blue: #2e86c1;
  --intermediate-yellow: #d4ac0d;
  --advance-red: #c0392b;
  --dark-blue: #174360;
  --semidark-blue: #205d87;
  --dark-yellow: #6a5606;
  --semidark-yellow: #947809;
  --dark-red: #601c15;
  --semidark-red: #86271e;
  --midlight-red: #d7443e;
  --midblue: #04aae0;
}
.terms-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white);
  font-family: "Baloo", sans-serif;
  position: absolute;
  max-width: max-content;
  margin-top: -45em;
  margin-left: -2.5em;
}
a {
  text-decoration: none;
}
.terms-container .terms-content {
  display: flex;
  flex-direction: column;
  height: 15vh;
  width: 75vw;
  padding-left: 1rem;
  background: linear-gradient(to bottom, #205d87 30%, #2e86c1 30%);
  background-repeat: no repeat;
  color: var(--white);
}
